pkgbase = scratch3
	pkgdesc = Scratch 3.0 as a self-contained desktop application
	pkgver = 3.31.1
	pkgrel = 3
	url = https://github.com/scratchfoundation/scratch-desktop
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	depends = fuse2
	provides = scratch3
	conflicts = scratch3-bin
	conflicts = scratch-desktop
	replaces = scratch-desktop
	options = !strip
	options = !debug
	source = git+https://github.com/scratchfoundation/scratch-desktop.git#tag=v3.31.1
	source = scratch3.desktop
	source = scratch3.xml
	sha256sums = e38d5e8febfd61454d5d4f402177963deedc8350a37ee4dd327cd5079614d4eb
	sha256sums = 0f4f25e55b988e45a2f240487c35b18c96bbbce0f6be60bbe204b33f6d77d6da
	sha256sums = 86c8e16d9316dcbe21c19928381a498f5198708cae0ed25bfa3c09371d02deaf

pkgname = scratch3
